body{
    font-family: 'Courier New', Courier, monospace;
}

.formulario{
    border: 1px solid #ccc;
}

form{
    width: 500px;
    margin: 0 auto;
    border: solid 1px #ccc;
}

.casa{
    font-size: 12px;
}


.ops{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}